@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

#root {
	width: 100%;
	min-height: 100dvh;
	background-color: #181818;
}

@media (min-width: 768px) {
	#root {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
